@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

header, main {
	padding: 0 2.5em;
}
/* ------Début Class Réutilisable---------- */

.hotel-info h3, 
#activites h3 {
	color:black;
	margin: 0 0 5px 0;
}

.hotel-info p {
	margin: 0 0 10px 0;
}

.titre-section {
	margin: 0.5em 0 1em 0;	
}
/* ------Fin Class---------- */

/* Header Début */
header {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	height: 65px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

header nav {
	height: 100%;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}

.menu a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color:#d0d0d2;
	text-decoration: none;
	padding: 0 2em;
	border-top: 2px #ffffff solid;
	font-size: 0.85em;
}

.menu a.signup {
	font-weight: bold;
    color: #0065FC;
}

.menu li a:hover, .menu li a.active {
	color:#0065FC;
	border-top: 2px #0065FC solid;
}

.menu li a.signup:hover {
	border-top: 2px #ffffff solid;
}

/* Header Fin */

/* Main Début */
main {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-gap: 2.5em;
}

#hebergement .hotel-info {
	padding: 1em 0.8em;
	font-size: 0.85em;
}

	/* Ma section 1 Début */
	.sectionRechercher {
		grid-row: 1/2;
		font-size: 12px;
	}

	.sectionRechercher form {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin: 15px 0;
	}

	.sectionRechercher input {
		border: none;
		padding: 10px 15px;
		font-weight: bold;
		width: 12em;
	}

	input:focus {
		outline: none;
	}

	.sectionRechercher button {
		border: none;
		border-radius: 0 10px 10px 0;
		display: inline-block;
		padding: 9px 15px;
		text-align: center;
		text-decoration: none;
		transition-duration: 0.2s;
		cursor: pointer;
		font-weight: bold;
		color: white;
		background-color: #0065FC;
		border: 2px solid #0065FC;
	}

	.sectionRechercher button:hover {
		color: #0065FC;
		background-color: white; 
	}

	.sectionRechercher form i {
		border: none;
		border-radius: 10px 0 0 10px;
		display: inline-block;
		padding: 11px 15px;
		font-size: 14px;
		color: black;
		background-color: #efefef;
		border: 2px solid #efefef;
	}

	.filtres {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
		justify-content: flex-start;
		gap: 20px;
		font-size: 14px;
	}
	.filtres h3 {
		font-size: 14px;
	}
	.filtres ul {
		display: flex;
		flex-flow: row wrap;
		gap: 20px;
	}

	.filtres .btn {
		position: relative;
		display: inline-block;
		padding: 0 15px 0 10px;
		border: 2px solid #efefef;
		border-radius: 30px;
		color: black;
		cursor: pointer;
		transition: all 0.3s;
		font-weight: bold;
	}
	
	.filtres .btn:hover {
		color: #0065FC;
		background-color: #d6e7ff;
		border-color: #d6e7ff;
	}

	.filtres .btn:before {
		display: inline-block;
		position: relative;
		right: 10px;
		padding: 10px;
		line-height: 1;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: #0065FC;
		background-color: #d6e7ff;
		border-radius: 50%;
		outline: #d6e7ff 3px solid;
		outline-offset: -1px;
	}

	.filtres .icon-money:before {
		content: "\f53a";
		padding: 10px 8.5px;
	}

	.filtres .icon-child:before {
		content: "\f1ae";
		padding: 10px 12px;
	}

	.filtres .icon-heart:before {
		content: "\f004";
	}

	.filtres .icon-dog:before {
		content: "\f6d3";
	}

	.sectionRechercher p.icon-info {
		margin: 20px 0 0 0;
		padding: 0 0 0 25px;
	}

	.sectionRechercher .icon-info:before {
		display: inline-block;
		position: relative;
		bottom: 1px;
		right: 25px;
		margin: 0 -18px 0 0;
		padding: 3px 6px;
		font-family: "Font Awesome 5 Free";
		font-size: 10px;
		font-weight: 900;
		line-height: 1;
		content: "\f129";
		color: #0065FC;
		background-color: #ffffff;
		border: 1px solid #efefef;
		border-radius: 50%;
	}
	/* Ma section 1 Fin */

	/* Ma section 2 Début */
	#hebergement{
		grid-row-start: 2;
		padding: 2.5em;
		background-color: #efefef;
		border-radius: 20px;
	}

	#hebergement .hotel-cartes {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2.5em;
	}

	#hebergement .hotel-photo {
		height: 10em;
	}

	#hebergement a {
		padding: 7px;
		height: 100%;
		display: block;
		box-sizing: border-box;
		color: #d0d0d2;
		background-color: #ffffff;
		border-radius: 20px;
		transition: all 0.3s;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
	}

	#hebergement .hotel-photo img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
	}
	
	#hebergement a:hover,
	#hebergement a:hover h3,
	#hebergement a:hover p,
	#hebergement a:hover span.checked {
		color:#0065FC;
	}

	#hebergement a:hover {
		background-color: #d6e7ff;
		box-shadow: 0 30px 20px rgb(0, 0, 0, 0.3);
		transform: translateY(-10px);
	}

	.fa{
		color:#d0d0d2;
	}
	
	.checked{
		color:#0065FC;
	}

	#hebergement button {
		display: inline-block;
		margin: 30px 0 0 0;
		cursor: pointer;
		font-size: 1em;
		font-weight: bold;
		color: black;
		background: none;
		border: none;
	}

	/* Ma section 2 Fin */

	/* Ma section 3 Début */
	#lesPlusPopulaires{
		grid-row-start: 2;
		padding: 2.5em;
		background-color: #efefef;
		border-radius: 20px;
	}

	#lesPlusPopulaires .hotel-cartes {
		display: grid;
		grid-template-columns: auto;
		gap: 2.5rem;
	}

	#lesPlusPopulaires li a {
		display: flex;
		flex-direction: row;
		background-color: #ffffff;
		border-radius: 20px;
		justify-content: flex-start;
	}

	#lesPlusPopulaires .hotel-photo {
		width: 40%;
		height: 10em;
	}

	#lesPlusPopulaires .hotel-photo img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px 0 0 15px;
	}

	#lesPlusPopulaires .hotel-info {
		width: 60%;
		padding: 1.2em;
		font-size: 0.85em;
	}

	#lesPlusPopulaires a {
		position: relative;
		padding: 7px;
		color: #d0d0d2;
		transition: all 0.3s;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
	}

	#lesPlusPopulaires a h3{
		color:black;
	}

	#lesPlusPopulaires a:hover,
	#lesPlusPopulaires a:hover h3,
	#lesPlusPopulaires a:hover p,
	#lesPlusPopulaires a:hover span.checked {
		color:#0065FC;
	}

	#lesPlusPopulaires a:hover {
		background-color: #d6e7ff;
		box-shadow: 0 30px 20px rgb(0, 0, 0, 0.3);
		transform: translateY(-10px);
	}

	#lesPlusPopulaires h2 i {
		float: right;
	}
	
	.populaire-stars {
		position: absolute;
		bottom: 20px;
	}
	/* Ma section 3 Fin */

	/* Ma section 4 Début */
	#activites {
		grid-row: 3;
		grid-column: 1/3;
		margin: 0 0 3em;
	}

	#activites .titre-section {
		margin: 1em 0;	
	}

	#activites ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 5em);
		gap: 2.5em;
	}

	#activites ul .carte-type1 {
		grid-row: 1/6;
	}

	#activites ul .carte-type2 {
		grid-row: 1/4;
	}

	#activites ul .carte-type3 {
		grid-row: 4/6;
	}

	#activites ul .carte-type4 {
		grid-row: 1/3;
	}

	#activites ul .carte-type5 {
		grid-row: 3/6;
	}

	#activites a {
		display: flex;
		flex-direction: column;
		height: 100%;
		border-radius: 20px;
		background-color: white;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
		transition: all 0.3s;
	}

	#activites a img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
		overflow: hidden;
	}

	#activites a h3 {
		padding: 1em;
		margin: 0;
	}

	#activites a:hover,
	#activites a:hover h3 {
		color:#0065FC;
	}

	#activites a:hover {
		background-color: #d6e7ff;
		box-shadow: 0 30px 20px rgb(0, 0, 0, 0.3);
		transform: translateY(-10px);
	}
	/* Ma section 4 Fin */
/* Main Finis */

/* Footer Début */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5em;
    background-color: #efefef;
    gap: 2.5em;
}

footer h3 {
    margin: 0 0 0.5em;
}

footer li {
    padding: 0.5em 0;
    font-size: 0.85em;
}

footer li a {
	color:black;
}

footer li a:hover {
	color:#0065FC;
}
/* Footer Fin */


/* Media queries */
@media (max-width: 1250px) { 
	#activites ul {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 3em);
	}

	#activites a h3 {
		padding: 1em;
		margin: 0;
		font-size: 0.8em;
	}
	
}

@media (max-width: 770px) { 
	.sectionRechercher {
		grid-column: 1/3;
	}

	#hebergement {
		grid-row-start: 3;
		grid-column: 1/3;
		padding: 2em;
	}

	#hebergement .hotel-cartes {
		grid-template-rows: repeat(2, auto);
		gap: 2em;
	}

	#hebergement .hotel-photo {
		height: 5em;
	}

	#hebergement .hotel-info {
		padding: 1em 0.6em;
		font-size: 0.55em;
	}

	#lesPlusPopulaires {
		grid-row-start: 2;
		grid-column: 1/3;
	}

	#activites {
		grid-row: 4;
		grid-column: 1/3;
	}

	#activites ul {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 10em);
	}

	#activites ul .carte-type1,
	#activites ul .carte-type2,
	#activites ul .carte-type3,
	#activites ul .carte-type4,
	#activites ul .carte-type5 {
		grid-row: auto;
	}

	#activites a h3 {
		font-size: 1em;
	}
}

@media (max-width: 480px) {
	header {
		padding: 0 1.5em 2em;
		position: relative;
		flex-flow: row wrap;
		height: auto;
	}

	.logoReservia {
		position: relative;
		left: 2em;
	}

	header nav {
		margin: 0.5em 0 0 0;
		width: 100%;
	}

	.menu {
		flex-flow: unset;
	}

	.menu li {
		width: 100%;
	}
	
	.menu li:last-child {
		width: auto;
	}

	.menu a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		color: #d0d0d2;
		text-decoration: none;
		padding: 0.3em 0;
		border:none;
		border-bottom: 2px #d0d0d2 solid;
		font-size: 0.85em;
	}

	.menu a.signup {
		font-weight: bold;
		position: absolute;
		display: flex;
		padding: 0 2em;
		right: 2em;
		top: 1.4em;
		color: #0065FC;
		justify-content: flex-start;
		height: auto;
		border: none;
	}

	.menu li a:hover, .menu li a.active {
		color:#0065FC;
		border: none;
		border-bottom: 2px #0065FC solid;
	}

	.menu li a.signup:hover {
		border:none;
	}

	main {
		grid-template-columns: 1fr;
		padding: 0;
	}
		.sectionRechercher {
			padding: 0 5.5em;
		}

		#hebergement {
			grid-row: 3/4;
			background: none;
		}

		#hebergement .hotel-cartes {
			grid-template-columns: auto;
		}

		#lesPlusPopulaires {
			grid-row: 2/3;
			border-radius: 0;
		}

		#lesPlusPopulaires .hotel-cartes {
			grid-template-columns: auto;
		}

		#hebergement .hotel-photo {
			height: 7em;
		}

		#hebergement .hotel-info {
			padding: 0.5em 0.8em;
			font-size: 0.85em;
		}

		#hebergement a:hover,
		#lesPlusPopulaires a:hover {
			background-color: #d6e7ff;
			box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
			transform: translateY(0px);
		}

		#lesPlusPopulaires .hotel-photo {
			width: 50%;
			height: 8em;
		}
		
		#activites {
			grid-row: 4;
			grid-column: 1/3;
			padding: 0 2em;
		}

		#activites ul {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 10em 10em 10em 10em 10em 10em;
			gap: 2.5em;
		}

		#activites ul .carte-type1,
		#activites ul .carte-type2,
		#activites ul .carte-type3,
		#activites ul .carte-type4,
		#activites ul .carte-type5 {
			grid-row: auto;
		}

		#activites a:hover {
			background-color: #d6e7ff;
			box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
			transform: translateY(0px);
		}
	footer {
		grid-template-columns: 1fr;
	}
}
/* Fin Media queries */